<ul>
  <li routerLink="/component" routerLinkActive="active">component</li>
  <li routerLink="/parent" routerLinkActive="active">parent</li>
  <li routerLink="/parent2" routerLinkActive="active">parent2</li>
  <li routerLink="/componentA" routerLinkActive="active">ComponentA</li>
  <li routerLink="/componentB" routerLinkActive="active">ComponentB</li>
  <li routerLink="/papa" routerLinkActive="active">papa</li>
  <li routerLink="/papao" routerLinkActive="active">papaO</li>
  <li routerLink="/bapu" routerLinkActive="active">bapu</li>
  <li routerLink="/host" routerLinkActive="active">host</li>
  <li routerLink="/lifecycle" routerLinkActive="active">lifecycle</li>
  <li routerLink="/viewp" routerLinkActive="active">view</li>
  <li routerLink="/template-syntax" routerLinkActive="active">
    template syntax
  </li>
  <li routerLink="/class-style-binding" routerLinkActive="active">
    C&S binding
  </li>
  <li routerLink="/event-binding" routerLinkActive="active">event binding</li>
  <li routerLink="/two-way-data-binding" routerLinkActive="active">
    Two way data binding
  </li>
  <li routerLink="/control-flow" routerLinkActive="active">control flow</li>
  <li routerLink="/pipes" routerLinkActive="active">pipes</li>
  <li routerLink="/template-ref" routerLinkActive="active">template</li>
  <li routerLink="/directives" routerLinkActive="active">directives</li>
  <li routerLink="/route/25" routerLinkActive="active">route</li>
</ul>
<hr />
<router-outlet></router-outlet>
